<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Zusatzoptionen wählen</h5>
    <h6 class="card-subtitle mb-2 text-muted">Wählen Sie zusätzliche Optionen aus</h6>
    <form class="p-3 mb-2">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Hilfslinien anzeigen</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Eichstrich anzeigen</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">weitere Option</label>
      </div>
    </form>
    <a href="#" class="card-link" routerLink="/">zurück</a>
    <a href="#" class="card-link" routerLink="/design">Weiter</a>
  </div>
</div>
